2da parte/Codigo legado/0 Código legado/CodigoLegado.Cliente/Service References/CodigoLegado.ServicioWeb/ServicioCrearProyecto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioCrearProyecto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55403/Agregar proyecto/ServicioCrearProyecto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55403/Agregar proyecto/ServicioCrearProyecto.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CodigoLegado.ServicioWeb" />
      <xsd:import schemaLocation="http://localhost:55403/Agregar proyecto/ServicioCrearProyecto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55403/Agregar proyecto/ServicioCrearProyecto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CodigoLegado.ServicioWeb.AgregarProyecto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServicioCrearProyecto_AgregueUnProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregueUnProyecto" />
  </wsdl:message>
  <wsdl:message name="ServicioCrearProyecto_AgregueUnProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregueUnProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioCrearProyecto_AgregueUnProyecto_ErrorDeValidacionFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CodigoLegado.ServicioWeb" name="detail" element="q1:ErrorDeValidacionFault" />
  </wsdl:message>
  <wsdl:message name="ServicioCrearProyecto_AgregueUnProyecto_ErrorInesperadoFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CodigoLegado.ServicioWeb" name="detail" element="q2:ErrorInesperadoFault" />
  </wsdl:message>
  <wsdl:portType name="ServicioCrearProyecto">
    <wsdl:operation name="AgregueUnProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ServicioCrearProyecto/AgregueUnProyecto" message="tns:ServicioCrearProyecto_AgregueUnProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServicioCrearProyecto/AgregueUnProyectoResponse" message="tns:ServicioCrearProyecto_AgregueUnProyecto_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ServicioCrearProyecto/AgregueUnProyectoErrorDeValidacionFaultFault" name="ErrorDeValidacionFaultFault" message="tns:ServicioCrearProyecto_AgregueUnProyecto_ErrorDeValidacionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ServicioCrearProyecto/AgregueUnProyectoErrorInesperadoFaultFault" name="ErrorInesperadoFaultFault" message="tns:ServicioCrearProyecto_AgregueUnProyecto_ErrorInesperadoFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ServicioCrearProyecto" type="tns:ServicioCrearProyecto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregueUnProyecto">
      <soap:operation soapAction="http://tempuri.org/ServicioCrearProyecto/AgregueUnProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDeValidacionFaultFault">
        <soap:fault use="literal" name="ErrorDeValidacionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ErrorInesperadoFaultFault">
        <soap:fault use="literal" name="ErrorInesperadoFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCrearProyecto">
    <wsdl:port name="BasicHttpBinding_ServicioCrearProyecto" binding="tns:BasicHttpBinding_ServicioCrearProyecto">
      <soap:address location="http://localhost:55403/Agregar%20proyecto/ServicioCrearProyecto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>