2da parte/Codigo legado/3c Extraiga las dependencias/CodigoLegado.Cliente/Service References/CodigoLegado.ServicioWeb/ServicioCrearProyecto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55403/Agregar proyecto/ServicioCrearProyecto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CodigoLegado.ServicioWeb.AgregarProyecto" />
  <xs:element name="AgregueUnProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CodigoLegado.ServicioWeb.AgregarProyecto" minOccurs="0" name="nuevoProyecto" nillable="true" type="q1:NuevoProyecto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregueUnProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CodigoLegado.ServicioWeb.AgregarProyecto" minOccurs="0" name="AgregueUnProyectoResult" nillable="true" type="q2:ProyectoCreado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>