2da parte/Codigo legado/3 Extraiga las dependencias externas/CodigoLegado.Cliente/Service References/CodigoLegado.ServicioWeb/ServicioCrearProyecto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CodigoLegado.ServicioWeb.AgregarProyecto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CodigoLegado.ServicioWeb.AgregarProyecto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NuevoProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaDeInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NuevoProyecto" nillable="true" type="tns:NuevoProyecto" />
  <xs:complexType name="ProyectoCreado">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaDeCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaDeInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProyectoCreado" nillable="true" type="tns:ProyectoCreado" />
</xs:schema>