2da parte/Codigo legado/2 Extraiga validacion y generacion/CodigoLegado.Cliente/Service References/CodigoLegado.ServicioWeb/ServicioCrearProyecto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CodigoLegado.ServicioWeb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CodigoLegado.ServicioWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErrorDeValidacionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorDeValidacionFault" nillable="true" type="tns:ErrorDeValidacionFault" />
  <xs:complexType name="ErrorInesperadoFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorInesperadoFault" nillable="true" type="tns:ErrorInesperadoFault" />
</xs:schema>